@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 248, 250, 252;
  --background-start-rgb: 6, 11, 24;
  --background-end-rgb: 11, 19, 43;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  min-height: 100vh;
}
